
body .logo {
    background-color: orangered;
    text-align:center;
    padding: 12px;
}
.Menu {
    padding: 0;
    text-align:center;
    }

 .Menu li {
    display: inline;
    list-style: none;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    padding: 12px;
    background-color: orangered;
    color: #fff;

    }
 
    .Menu li:hover {
    background-color: rgb(255, 164, 131);
    margin-top: -2;
    padding-bottom: 12px;
    cursor:pointer; 
    }

    .Menu ul a:link {
        text-decoration:none;   
    }